/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #2E1760  ;
  --secondary-color: BLACK ;
  --accent1-color: #F95738;
  --accent2-color: #FFFFFF;

  /* change the values below to your chosen font(s) */
  --heading-font: 'Trebuchet MS'
  --paragraph-font: "Lucida sans Unicode"

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #F95738;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: BLACK; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #F95738; /* paragraph text on a colored background */ 
  --paragraph-background-color: WHITE  ;
  --nav-link-color: #2E1760;
  --nav-background-color: #F95738;
  --nav-hover-link-color: #2E1760;
  --nav-hover-background-color: WHITE;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: #F95738
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}

.flex {
    display: flex;
}

div div {
    margin: 10px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    color: white;
}

h1, h2{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p {
    font: "Lucida sans Unicode";
    text-align: left;
}

img {
    width: 200px;
}

header, footer {
    background-image: url("images\planet_banner.jpg");
    background-color: #2E1760;
    color: #F95738;
    padding: 10%;
    margin: 0%;
    border-radius: 10px;
}